* {
    /* margin: 0px; */
    /* padding: 0px; */
    /* box-sizing: border-box; */
    /* scroll-behavior: smooth; */
}

:root{
    /* Paleta de colores */
    --natural: #e8ede7;
    --blanco: #ffffff;
    --verde-aqua-marina: #81bece;
    --verde-petroleo-claro: #378ba4;
    --verde-petroleo: #036280;
    --azul-marino: #012e4a; 
    --rosa: #eba9cb;
    --naranja: #fcb270;
    --error-naranja: #74BDEA; 
    
    /* Tipos de fuente */
    @font-face {
        font-family: "Amuse Bouche";
        src: url("https://fontsforyou.com/fonts/a/Amuse Bouche.otf");
    }
    --fuente-principal: 'Poppins', sans-serif;
    --fuente-principal-dos: 'Karla', sans-serif;
    --fuente-base: 'Open Sans', sans-serif;
    --fuente-titulo: 'Amuse Bouche', sans-serif;
    --fuente-alternativa: 'Roboto', sans-serif;
    --fuente-alternativa-dos: 'JetBrains Mono', monospace;
    
    /* Tamaños de fuente */
    --fuente-tamaño-estandar: 1em;
    --fuente-tamaño-estandarMas: 1.2em;
    
    /* Espesor Fuente */
    --fuente-fina: 300;
    --fuente-regular: 400;
    --fuente-media: 500;
    --fuente-bold: 700;
    --fuente-black: 900;
    
}

html{
    font-family: var(--base-font);
    font-size: 62.5%; /*se establece el tamaño de fuente del sitio en 10px, para que el calculo de -em- sea mas facil*/
    color: var(--dark-solid);
}

body{
    background-color: var(--verde-aqua-marina);
    margin: 0;
    padding-top: 60px;
    padding-bottom: 80px;
}

@media print {    
    footer{
        page-break-before: always;
    }
    .contenedorDinamicoTarjeta{
        page-break-inside: avoid;  
    }
    @page {
        size: A4;
        margin: 0;
    }
}
    
header, footer{ /*Porsupuesto que es el encabezado...*/
    position: fixed;
    /* top: 0;
    left: 0;
    right: 0; */
    color: var(--natural);
    width: 100%;
    height: 60px;
    /* padding: 10px 0; */
    /* margin-bottom: 20px; */
    /* height: 50px; establece la altura del header */
} 

header{
    top: 0;
}

footer{
    bottom: 0;
}
.contenedorBgImgHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azul-marino);
    /* border: var(--azul-marino) 3px solid; */
    /* padding: 5px; */
    /* height: max-content; */
    width: 100%;
    height: inherit;
    font-family: var(--fuente-principal);
    font-weight: var(--fuente-media);
    font-size: var(--fuente-tamaño-estandar);
}

.contenedorBgImgHeader h2{
    font-size: 2em;
    margin: 0;
    font-family: var(--fuente-titulo);
    font-weight: var(--fuente-black);
}

.imgLogo{
    margin-left: 20px;
    height: 55px;
    width: 120px;
}

.contenedorNombreDireccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.contenedorNombreDireccion p {
    margin: 0;
}

.contenedorHorarios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin-right: 20px;
}

.contenedorHorarios p {
    margin: 0;
}

/*.footer{
    position: fixed;
    bottom: 0;
    color: var(--natural);
    background-color: var(--azul-marino);
    width: 100%;
    height: 50px; /* establece la altura del footer */
/* } */

.iconosFooter{
    width: 25px;
    margin-right: 5px;
}

.contenedorBgImgFooter{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--azul-marino);
    /* border: var(--azul-marino) 3px solid; */
    /* padding: 5px 20px; */
    height: inherit;
    /* padding: 0px 15px; */
    width: 100%;
    font-family: var(--fuente-principal);
    font-size: var(--fuente-tamaño-estandar);
}

.contenedorRedes{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Este es el Grid que contiene las tarjetas */
.contenedorProductos{
    display: grid;
    justify-items: center;
    /* margin-right: 10px; */
    /* background-color: black; */
    /* grid-template-columns: 200px 200px 200px 200px; */
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
    /* gap: 5px; */
    row-gap: 10px;
    /* margin-bottom: 20px; */
    /* margin-top: 50px; establece la distancia entre el header y el contenido */
    /* margin-bottom: 50px; establece la distancia entre el contenido y el footer */
}

.contenedorDinamicoTarjeta{
    page-break-inside: avoid; /* Evitar que las tarjetas se corten entre páginas */
    display: flex;
    padding: 2px;
    /* padding-bottom: 2px; */
    /* border: 3px solid var(--azul-marino); */
    border-radius: 6px;
    background-color: var(--blanco);
    
    /* background-image: url("imagenes/Fondo\ tajeta\ 2.png"); Esta es la imagen de la tarjeta */
    color: var(--azul-marino); 
    font-weight: var(--fuente-media);   
    width: 385px;
    height: 110px;
    /* margin-bottom: 10px; */
    margin-top: 10px;
    margin-bottom: 10px;
    /* justify-content: space-between; */
    /* align-items: flex-start; */
}
 

.contenedorDinamicoTarjeta p, h5 {
    /* display: flex; */
    margin: 1px;
    font-size: 1.1em;
    font-family: var(--fuente-principal);
    font-weight: var(--fuenta-fina);
}

.contenedorDescripciones{
 width: 100%;   
}

.descripcionProducto{
    display: flex;
    justify-content: space-between;
}

.imagen{
    width: 100px;
    height: 100px;
    border: outset;
    border-radius: 5px;
}

.contenedorInput{
    position: absolute; 
    /* display: none; */
}

.contenedorInputCerrado{
    display: none !important;
}
